Value Required vlan (\d+)
Value desc ([^"]+)
Value ip ([0-9.]+)
Value mask ([0-9.]+)
Value untagged_range (.+)
Value tagged_range (.+)

Start
  ^vlan ${vlan}
  ^\s+name "${desc}"
  ^\s+ip address ${ip} ${mask}
  ^\s+untagged ${untagged_range}
  ^\s+tagged ${tagged_range}
  ^\s*exit -> Record
